@layer colors {
  :root {
    --clr-brown: #9e7f66;
    --clr-black: #111111;
    --clr-white: #ffffff;
    --clr-gray-100: #17192b;
    --clr-gray-300: #242b37;
    --clr-gray-500: #5c6779;
    --clr-background-dark: var(--clr-black);
    --clr-background-light: var(--clr-white);
  }
}

@layer global {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background-color: var(--clr-background-dark);
    color: var(--clr-background-light);
  }

  h1,
  h2,
  h3 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  img {
    display: block;
    max-width: 100%;
  }
}
