@layer colors {
  :root {
    --clr-brown: #9e7f66;
    --clr-black: #111111;
    --clr-gray-100: #17192b;
    --clr-gray-200: #242b37;
    --clr-gray-300: #5c6779;
  }
}

@layer global {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }

  h1,
  h2,
  h3 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  img {
    display: block;
    max-width: 100%;
  }
}
